<!DOCTYPE>
<html>
  <head>
    <title>OMDB-Error</title>
  </head>
  <body>
    <h1>Results</h1>
        <h3> Error! </h3>
        <p><%= error.Error %></p>
        <form action="none">
            <input type="submit" formmethod="GET" formaction="/" value="TRY ANOTHER SEARCH">
        </form>
  </body>
</html>